<!DOCTYPE html>
<html>
  <head>
    <title>Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
      #map {
        height: 500px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <h1>Map</h1>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
      // Get latitude and longitude values from Flask
      var latitude = "{{latitude}}";
      var longitude = "{{longitude}}";

      // Print latitude and longitude to console for debugging
      console.log(latitude);
      console.log(longitude);

      // Initialize the map and set its view to the provided latitude and longitude
      var map = L.map("map").setView([latitude, longitude], 13); //0-> whole world 19-> street level

      // Set the tile layer (map tiles) to use OpenStreetMap
      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 19,
      }).addTo(map);

      // Add a marker at the specified location
      L.marker([latitude, longitude])
        .addTo(map)
        .bindPopup("You are here!")
        .openPopup();
    </script>
  </body>
</html>
